:root {
  /* Global colors */
  --theme-color: #24292F;
  --primary-color: #0969DA;
  --success-color: #2DA44E;
  --info-color: #DDF4FF;
  --warning-color: #FFF8C5;
  --danger-color: #CF2C2E;
  --hover-color: rgba(255, 255, 255, .9);
  --dim-hover-color: rgba(255, 255, 255, .1);
  /* Font colors */
  --normal-font-color: #333;
  --light-font-color: #fff;
  --secondary-font-color: #8C959F;
  /* Background colors */
  --bg-color: #fff;
  --dim-bg-color: #F6F8FA;
  --cover-bg-color: rgba(0, 0, 0, .5);
  /* Border colors */
  --light-border-color: #57606a;
  --dim-border-color: rgba(27, 31, 36, 0.15);
  /* Sidebar width */
  --sidebar-width: 260px;
  /* Transition funtion */
  --cubic-bezier: cubic-bezier(0.33, 1, 0.68, 1);
  /* Paddings */
  --container-padding: 16px;
}

@media only screen and (max-width: 768px) {
  :root {
    --sidebar-width: 70%;
  }
}

html {
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  text-size-adjust: 100%;
  font-feature-settings: normal;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  color: var(--normal-font-color);
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}