:root {
  /* Global colors */
  --theme-color: #24292F;
  --primary-color: #0969DA;
  --success-color: #2DA44E;
  --info-color: #DDF4FF;
  --warning-color: #FFF8C5;
  --danger-color: #CF2C2E;
  /* Font colors */
  --normal-font-color: #333;
  --secondary-font-color: #8C959F;
  /* Background colors */
  --dim-bg-color: #F6F8FA;
  --bg-color: #fff;
  /* Border colors */
  --dim-border-color: rgba(27, 31, 36, 0.15);
  /* Sidebar width */
  --sidebar-width: 260px;
  /* Transition funtion */
  --cubic-bezier: cubic-bezier(0.33, 1, 0.68, 1);
  /* Paddings */
  --container-padding: 16px;
}

@media only screen and (max-width: 768px) {
  :root {
    --sidebar-width: 0;
  }
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 1.5;
  font-smooth: antialiased;
  text-size-adjust: 100%;
  font-feature-settings: normal;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  color: var(--normal-font-color);
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}